Hey There
\
===============================================
\
#{@user.name} has sent you their entries on https://happyhours.io
\
Attached to this mail is the CSV format of these entries.
\
Kind Regards.
