<div class="outer">
  <div class="wrapper">
    <div class="projects-overview">
      <%= render partial: "application/entry_form", locals: { form_title: t("entries.index.edit_entry") } %>
    </div>
  </div>
</div>

