.outer
  .wrapper
    .projects-overview
      .edit-entry-wrapper
        %h2= t("entries.index.edit_entry")
        = render partial: "application/#{params[:controller]}_entry_form", locals: { form_title: t("entries.index.edit_#{params[:controller]}_entry") }
