<div>

<div class="container">
  <div>
    <h1><%= title %></h1>
    <p><%= t('main_text') %>
      
    </p>
    <%= link_to t("sign_up"), new_accounts_path, class: "button" %> or
    <%= link_to t("read more"), "#" %>
  </div>
</div>
