%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  min-width: 12em;
  padding: .75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled {
    background-color: lighten($base-button-color, 20%);
    cursor: not-allowed;
  }
}
