.outer
  .container
    = render "/header", title: @user.full_name
    .charts
      = render "/charts/bar_chart", title: t("report.hours_per_day", count: @time_series.days), data: @time_series.serialize.to_json
    .charts
      = render "/charts/pie_chart", title: "Hours spent per project", data: EntryStats.new(@time_series.entries_for_time_span).hours_for_subject_collection(Project.all).to_json
    = link_to t("users.show.entries"), user_entries_path(@user)
