button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  @extend %button;
  &:hover {
    color: white;
  }
  &.create {
  }

  .accounts-new &, .accounts-create & {
    width: 100%;
  }
}

.button-gray { 
  @extend %button;
  background-color: $medium-gray !important;
  &:hover {
    background-color: $medium-dark-gray !important;
  }
}

