%footer.footer
  .footer-links
    %ul
      %li
        = link_to root_path do
          %h3 Hours
      %li
        %a{:href => "#{root_path}#pricing"} Pricing
      %li= link_to "The Team", page_path("team")
      %li
        %a{:href => "mailto:hugo@defacto.nl"} Careers
  %hr/
  %p
    Greetings from drizzling
    %a{:href => "https://www.flickr.com/search/?q=groningen"} Groningen.
    %br/
    \- The Hours team.
