<footer class="footer">
  <div class="footer-links">
    <ul>
      <li>
        <%= link_to root_path do %>
          <h3>Hours</h3>
        <% end %>
      </li>
      <li><a href="<%= root_path %>#pricing">Pricing</a></li>
      <li><%= link_to "The Team", page_path("team") %></li>
      <li><a href="mailto:hugo@defacto.nl">Careers</a></li>
    </ul>
  </div>
  <hr>
  <p>Greetings from drizzling <a href="https://www.flickr.com/search/?q=groningen">Groningen.</a> <br> - The Hours team.</p>
</footer>
