<div class="hero team-header">
  <div class="hero-inner">
    <div class="hero-copy">
      <%= link_to root_path do %>
        <h1 id="logo">Hours</h1>
      <% end %>
      <h2>The Team</h2>
    </div>
  </div>
</div>

<div class="main">
  <div class="copy">
    <ul class="team">
      <li>
        <a href="https://github.com/jurre">
          <%= image_tag("jurre.jpg") %>
          <p>Jurre Stender</p>
        </a>
      </li>
      <li>
        <a href="https://github.com/dkhgh">
          <%= image_tag("hugo.jpg") %>
          <p>Hugo Veeger</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= render "footer" %>
