<span class="activity-color"
      style="width:<%= EntryStats.new(project.entries, category).percentage_for_subject %>%; background-color:<%= category.name.pastel_color %>;" itemprop="keywords"></span>
