.outer
  .container
    - if @project.archived?
      = link_to t("project.edit.un_archive_link"), project_path(@project, project: { archived: false }), method: "put", class: "archive-link"
    - else
      = link_to t("project.edit.archive_link"), project_path(@project, project: { archived: true }), method: "put", class: "archive-link"
    %h1= title
    = render partial: "form"