<div class="outer">
  <div class="wrapper">
    <div class="projects-overview">
      <%= render partial: "application/entry_form" %>
      <ul class="project-list">
        <%= render partial: "project", locals: { projects: @projects } %>
      </ul>
      <div class="new-project">
        <%= link_to t("titles.projects.new"), new_project_path, id: "new-project-button", class: "button create" %>
      </div>
    </div>

    <div class="activity-feed">
      <ul><%= render partial: "entry", collection: @activities %></ul>
    </div>
  </div>
</div>
