.outer
  .container
    %h2 Send CSV to third party email address
    = simple_form_for(:third_party, html: { novalidate: false }) do |f|
      = f.error_notification
      .form.inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, "Send"
