.chart-container
  %h2= t('charts.users_title')
  .chart
    %canvas#hours-tag-per-user{"data-data" => EntryStats.new(tag.entries).hours_for_subject_collection(User.all).to_json, :height => "200", :width => "200"}
