.activity-feed {
  background: #fff;
  display: none!important;
  font-size: 12px;
  line-height: 1.1em;

  @include media($laptop-screen) {
    padding: 0;
    vertical-align: top;
    border-left: 1px solid #ddd;
    display: block!important;
    position: absolute;
    right: 0px;
    width: 250px;

    li {
      @include transition (background-color 0.2s ease-in-out);
      padding: 15px;
      border-bottom: 1px solid #ddd;
      font-size: 0.9em;
      text-align: center;

      .image-circle {
        width: 25px;
        height: 25px;
        vertical-align: middle;
      }

      &:hover {
        background-color: #fff;
      }
    }

    a {
      color: $base-font-color;
      font-weight: bold;
    }
  }

  .avatar-container {
    width: 25%;
    float: left;
  }

  .entry-text {
    display: inline-block;
    width: 75%;
    text-align: left;
  }
}

