.billables {
  @include span-columns(12);
  .sidebar {
    @include media($laptop-screen) {
      @include span-columns(3);
      margin-top: 2em;
      position: fixed;
      margin-left: 72%;
    }
    margin: 2em 0 0 2em;
    @include span-columns(12);
  }

  .outer {
    @include media($laptop-screen) {
      @include span-columns(8);
      margin: 2em 0 0 2em;
    }

    @include span-columns(12);

    max-width: 90em;
    float:left;
  }
}

.submit-billable-entries {
  @include media($laptop-screen) {
    opacity: 0;
  }
  opacity: 1;
}

#filter_form {
  select {
    width: 100%;
  }

  input, button {
    margin-bottom: 1em;
  }
}
