.billables {

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  .sidebar {
    @include span-columns(12);
    float: right;

    @include media($laptop-screen) {
      @include span-columns(3);
    }
  }

  .outer {
    @include span-columns(12);
    max-width: 90em;

    @include media ($medium-screen) {
      padding: 1em;
    }

    @include media($laptop-screen) {
      @include span-columns(9);
      float: left;
      padding: 2em;
    }

    .submit-billable-entries {
      @include media($laptop-screen) {
        opacity: 0;
      }
    }
  }
}

.marked_entries {

  p {
    line-height: 2.5em;
  }
}

#new_entry_filter {
  select {
    width: 100%;
  }

  input, button {
    margin-bottom: 1em;
  }
}
