.billables {
  @include span-columns(12);
  overflow: auto;
  display: table;
  .sidebar {
    @include media($laptop-screen) {
      @include span-columns(3);
      float:right;
    }
    float:right;
    margin: 12em 0 0 2em;
    @include span-columns(12);

    h1 {
      margin-bottom: 1em;
    }
  }
  .outer {
    @include media($laptop-screen) {
      @include span-columns(8);
      margin: 2em 0 0 2em;
      float: left;
    }

    @include span-columns(12);

    max-width: 90em;

    .submit-billable-entries {
      @include media($laptop-screen) {
        opacity: 0;
      }
    }
  }
}

.marked_entries {
  @include media($laptop-screen) {
    width: 25%;
    margin-left: 75%;
  }
  top: 50px;
  right: 0;
  position: fixed;
  z-index: 10;
  margin: auto;
  box-shadow: 0px 2px 2px rgba(83, 63, 63, 0.3);
  border-radius: 0.1875em;
  padding: 1em;
  width:100%;
  background: white;

  p {
    line-height: 2.5em;
  }
}

.checkbox {
  width: 3em;
}

.status {
  @include media($laptop-screen) {
    text-align: center;
    width: 8em;
    opacity: 1;
  }
  opacity: 0;
  width: 0;
}

.green-row {
  background-color: rgba(0,255,0,0.08);
}

.billable.info-row:hover {
    background-color: rgba(0,0,255,0.08);
    cursor: pointer
}

.billable.info-row::select {
    background-color: rgba(0,0,255,0.2);
}

.billable.info-row.selected {
  font-weight: bold;
}

#submit-billable-entries-bill,
#submit-billable-entries-unbill {
  margin-bottom: 0.3em;
}

#new_entry_filter {
  select {
    width: 100%;
  }

  input, button {
    margin-bottom: 1em;
  }
}
