.new-entry-wrapper {
  background: $base-background-color;
  box-shadow: 0 2px 2px rgba(83, 63, 63, 0.3);
  padding-bottom: 20px;

  .button {
    width: 100%;
  }

  h2 {
    padding: 25px;
  }

  .input {
    background-color: $base-background-color;
    margin: 10px 0;

    input {
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      resize: none;
    }
  }

  .selectize-dropdown,
  .selectize-input,
  .selectize-input input {
    background-color: $base-background-color;
    font-family: "Open Sans";
    font-size: $base-font-size;
  }

  .select {
    background-color: $base-background-color;
    width: 100%;
  }

  .entry-change {
    float: right;
  }

  .entry-hours {
    width: 100%;
  }

  .entry-date {
    width: 100%;
  }

  .entry-tag-list {
    width: 100%;
    }
}

.edit-entry-wrapper {
  @extend .new-entry-wrapper;
  @include pad(6% 3%);
  h2 {
    padding: 0;
  }
}

.pika-single button {
  min-width: 0;
}

.pika-next,
.pika-prev {
  border: none;
  box-shadow: none;

  &:hover {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    color: $black !important;
  }
}

.pika-table {
  border-collapse: collapse;
  border-spacing: 0;

  td {
    background-color: rgb(245, 245, 245);
    padding: 0;

    .pika-button {
      box-shadow: none;
      text-align: center;
    }
  }
}

.entries {
  font-size: $base-font-size * 0.9;
  max-width: 100%;

  @include media($medium-screen) {
    font-size: $base-font-size;
  }

  .entries-table-wrapper {
    margin: 25px -25px 0;
    // background: #fafafa;

    .entries-table {
      margin: 0;
      // border-top: 1px solid #ddd;

      th,
      td {
        border-bottom: 1px solid $light-gray;
        padding: 0.75em 25px;
      }

      th {
        color: #ccc;
        font-size: 0.7em;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      tbody tr {
        @include transition(all 0.3s ease);
        // background: #fafafa;
        color: #666;

        &:hover {
          // background: darken(#fafafa, 2%);
          color: $dark-gray;
        }
      }
    }
  }
}

.legend {
  font-size: $base-font-size * 0.9;
  text-align: center;

  @include media($medium-screen) {
    font-size: $base-font-size;
  }
}

.entries-table {
  line-height: 20px;
  table-layout: auto;

  td,
  th {
    padding: 4px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  // date
  th:nth-child(1) {
    width: 10%;
  }
  // project
  th:nth-child(2) {
    width: 12%;
  }
  // hours
  th:nth-child(3) {
    width: 8%;
  }
  // category
  th:nth-child(4) {
    width: 20%;
  }
  // description
  th:nth-child(5) {
    white-space: normal;
    width: 30%;
  }
  // actions
  th:nth-child(6) {
    width: 10%;
  }
  // changes
  th:nth-child(7) {
    width: 10%;
  }

  @media screen and (max-width: $medium-screen) {
    th:nth-child(1) {
      width: 30%;
    }

    th:nth-child(2) {
      width: 60%;
    }

    th:nth-child(3) {
      width: 10%;
    }
  }

  .weekday {
    color: $medium-gray;
    font-size: 0.9em;
  }

  .description {
    font-size: 0.9em;
    white-space: normal;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}
