.pika-next, .pika-prev {
  box-shadow: none;
  border: none;

  &:hover {
    background-color: transparent!important;
    background-image: none!important;
    box-shadow: none!important;
    color: black!important;
  }
}

.pika-table {
  border-collapse: collapse;
  border-spacing: 0;

  td {
    padding: 0;
    background-color: rgb(245, 245, 245);
    .pika-button {
      box-shadow: none;
      text-align: center;
    }
  }
}

.entries {
  .table-tags {
    line-height: 15px;

    a {
      font-size: 0.9em;
    }
  }

  .container {
    width: 90%;
  }

  #hours-per-day-chart {
    width: 100%!important;
    max-width: 1800px!important;
    height: 200px!important;
  }

  .hours-per-day {
    p {
      margin-left: 30px;
      font-size: 0.8em;
    }
  }

}

.new_entry_wrapper {
  background: #fff;
  border-bottom: 3px solid darken(#E9E8E6, .1);

  #new_entry {
    .input {
      display: inline-block;
      margin: 10px;
      input {
        resize: none;
      }
    }

    .entry_hours {
      width: 100px;
    }

    .entry_date {
      width: 120px;
    }

    .entry_tag_list {
      width: 200px;
    }
  }
}
