.pika-next, .pika-prev {
  box-shadow: none;
  border: none;

  &:hover {
    background-color: transparent!important;
    background-image: none!important;
    box-shadow: none!important;
    color: black!important;
  }
}

.pika-table {
  border-collapse: collapse;
  border-spacing: 0;

  td {
    padding: 0;
    background-color: rgb(245, 245, 245);
    .pika-button {
      box-shadow: none;
      text-align: center;
    }
  }
}

.entries {
  .table-tags {
    line-height: 15px;

    a {
      font-size: 0.9em;
    }
  }

  .container {
    width: 90%;
  }



  .hours-per-user-overview {
    @include clearfix;
    margin: 25px -25px 0;
    padding: 25px;
    border-top: 1px solid #ddd;
    background: #fafafa;

    p {
      font-size: .7em;
      font-weight: 700;
      color: #ccc;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    #hours-per-user {
      float: left;
      margin: 0 25px 0 0;
    }

    ul.legend {
      float: left;

      li {

        .color {
          display: inline-block;
          margin-right: 5px;
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }

        .project-name {
          display: inline-block;
          font-weight: bold;
        }

        &.total {
          font-weight: bold;
        }
      }
    }
  }

  .hours-per-day {
    margin: 0 -25px;
    padding: 25px;
    background: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    p {
      font-size: .7em;
      font-weight: 700;
      color: #ccc;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    #hours-per-day-chart {
      @include transition(opacity .3s ease);
      opacity: .6;

      // A bit hacky?
      width: 100% !important;
      height: 200px !important;
      max-width: 1800px !important;
    }

    &:hover #hours-per-day-chart {
      opacity: 1;
    }
  }

  .entries-table-wrapper {
    margin: 25px -25px 0;
    // background: #fafafa;

    .entries-table {
      margin: 0;
      // border-top: 1px solid #ddd;

      th, td {
        padding: 0.75em 25px;
        border-bottom: 1px solid #ddd;
      }
      th {
        font-size: .7em;
        color: #ccc;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      td {
      }

      tbody tr {
        @include transition(all .3s ease);
        // background: #fafafa;
        color: #666;

        &:hover {
          // background: darken(#fafafa, 2%);
          color: #333;
        }
      }
    }
  }
}

.new_entry_wrapper {
  background: #fff;
  border-bottom: 3px solid darken(#E9E8E6, .1);

  #new_entry {
    .input {
      display: inline-block;
      margin: 10px;
      input {
        resize: none;
      }
    }

    .entry_hours {
      width: 100px;
    }

    .entry_date {
      width: 120px;
    }

    .entry_tag_list {
      width: 200px;
    }
  }
}
