.new_entry_wrapper {
  background: #fff;
  box-shadow: 0px 2px 2px rgba(83, 63, 63, 0.3);
  @include pad(10% 3%);

  @include media($medium-screen) {
    @include pad(5%)
  }

  #new_entry, .edit_entry {

    .button {
      width: 100%;
    }

    .input {
      margin: 10px 0;

      input {
        resize: none;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
      }
    }

    .selectize-dropdown, .selectize-input, .selectize-input input {
      font-size: $base-font-size;
      font-family: 'Open Sans';
    }

    .select {
      width: 100%;
    }

    .entry_hours {
      width: 100%;
    }

    .entry_date {
      width: 100%;
    }

    .entry_tag_list {
      width: 100%;
    }
  }
}

.pika-single button {
  min-width: 0;
}

.pika-next, .pika-prev {
  box-shadow: none;
  border: none;

  &:hover {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    color: black !important;
  }
}

.pika-table {
  border-collapse: collapse;
  border-spacing: 0;

  td {
    padding: 0;
    background-color: rgb(245, 245, 245);
    .pika-button {
      box-shadow: none;
      text-align: center;
    }
  }
}

.entries {
  max-width: 100%;
  font-size: $base-font-size * .9;

  @include media($medium-screen) {
    font-size: $base-font-size;
  }

  .entries-table-wrapper {
    margin: 25px -25px 0;
    // background: #fafafa;

    .entries-table {
      margin: 0;
      // border-top: 1px solid #ddd;

      th, td {
        padding: 0.75em 25px;
        border-bottom: 1px solid #ddd;
      }

      th {
        font-size: .7em;
        color: #ccc;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      tbody tr {
        @include transition(all .3s ease);
        // background: #fafafa;
        color: #666;

        &:hover {
          // background: darken(#fafafa, 2%);
          color: #333;
        }
      }
    }
  }
}

.legend {
  font-size: $base-font-size * .9;
  text-align: center;

  @include media($medium-screen) {
    font-size: $base-font-size;
  }
}

.entries-table {
  line-height: 20px;
  table-layout: auto;

  td,
  th {
    padding: 4px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  // date
  th:nth-child(1) {
    width: 10%;
  }
  // project
  th:nth-child(2) {
    width: 12%;
  }
  // hours
  th:nth-child(3) {
    width: 8%;
  }
  // category
  th:nth-child(4) {
    width: 20%;
  }
  // description
  th:nth-child(5) {
    width: 30%;
    white-space: normal;
  }
  // actions
  th:nth-child(6) {
    width: 10%;
  }
  // changes
  th:nth-child(7) {
    width: 10%;
  }

  @media screen and (max-width: $medium-screen) {
    th:nth-child(1) {
      width: 30%;
    }

    th:nth-child(2) {
      width: 60%;
    }

    th:nth-child(3) {
      width: 10%;
    }
  }

  .weekday {
    color: $medium-gray;
    font-size: 0.9em;
  }

  .description {
    font-size: 0.9em;
    white-space: normal;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}
