.pika-table {
  border-collapse: collapse;
  border-spacing: 0;

  td {
    padding: 0;
    border-radius: none;
  }
}

#new_entry {
  background-color: whiteSmoke;
  display: inline-block;
  padding: 10px;

  .input {
    float: left;
    margin: 10px;
  }
}
