.title-container {
  @include clearfix;

  .user-detail-container {
    float: left;	    .user-title {
      float: left;
      margin-bottom: 0;
    }
  }
}
 .user-stats {
  .joined-time {
    margin-left: 0.5em;
    font-size: 0.8rem
  }

   .total-hours {
    float: right;
    margin-right: 1em;
    font-weight: bold;
    text-align: center;
  }
}
