@import "bitters/variables";

#navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  border: none;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  text-align: center;
  //background: #2f353e;
  //background: #72d0eb;
  //border-bottom: 3px solid #5fc5e6;
  //border-bottom: 3px solid #e4ddd1;

  ul {
    display: table-row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: table-cell;
      vertical-align: middle;

      a {
        display: inline-block;
        padding: 0 10px;
        line-height: 60px;
        height: 60px;
        border-bottom: 3px solid transparent;
        @include transition (border-color .3s);

        &:hover {
          border-color: #ddd;
        }
      }

      &.current {
        a {
          border-color: $blue;
        }
      }
    }
  }

  .nav {
    float: left;
  }

  .nav-user {
    float: right;

    .navigation a {
      margin-top:-7px;
    }

    .image-circle {
      display: block;
      width: 40px;
      height: 40px;
      margin-top:10px;
    }
  }
}
