.tags {
  margin:0;
  padding:0;
  right:24px;
  list-style:none;
  float: right;

  li, a {
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
  }

  a {
    margin-left:20px;
    padding:0 10px 0 12px;
    background:$blue;
    color:#fff;
    text-decoration:none;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;

    &:before {
      content:"";
      float:left;
      position:absolute;
      top:0;
      left:-12px;
      width:0;
      height:0;
      border-color:transparent $blue transparent transparent;
      border-style:solid;
      border-width:12px 12px 12px 0;
    }

    &:after {
      content:"";
      position:absolute;
      top:10px;
      left:0;
      float:left;
      width:4px;
      height:4px;
      border-radius:2px;
      background:#fff;
      box-shadow:-1px -1px 2px #004977;
    }

    &:hover { background:#555; }
    &:hover:before { border-color:transparent #555 transparent transparent; }
  }
}

.hours-per-user-overview {
  clear: left;
  padding-top: 40px;
  width: 80%;
  margin-left: auto;

  #hours-per-user {
    float: left;
  }

  .legend {
    clear: right;
    float: left;
    .image-circle {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin: 5px;
    }
  }
}

.projects {
  .wrapper {
    @include row(table);
  }

  .project-title {
    display: inline-block;
  }

  .projects-overview {
    @include span-columns(10);
    padding: 0;
    vertical-align: top;

    .entry_tag_list .selectize-input {
      // Fix the tags input position
      overflow: visible;
    }

    .project-list {
      margin: 0 40px;
      padding: 0;
      list-style: none;

      .project {
        padding: 20px;
        margin: 30px 0 0;

        &.container {
          width: auto;
          min-height: 0;
          background: #fff;
        }
      }
    }

  }

  .activity-feed {
    @include span-columns(2);
    @include reset-display;
    padding: 0;
    vertical-align: top;
    border-left: 1px solid #ddd;

    li {
      padding: 15px 0;
      border-bottom: 1px solid #ddd;
      font-size: 0.9em;
      text-align: center;

      .image-circle {
        width: 30px;
        height: 30px;
        vertical-align: middle;
      }
    }
  }
}

.activity-description {
  text-align: right;
}
