.project {
  header {
    .actions {
      float: right;
    }
  }
}

#new_project, .edit_project {

  input[type=number] {
    width: 500px;
  }

  .button {
    width: 100%;
  }

  .input {
    margin: 10px 0;

    input {
      resize: none;
      font-smoothing: antialiased;
    }
  }

  .selectize-dropdown, .selectize-input, .selectize-input input {
    font-size: $base-font-size;
    font-family: 'Open Sans';
  }

  .select {
    width: 500px;
  }
}

.clients-header {
  display: block;
  img {
    vertical-align: bottom;
  }
  span {
    font-size: 1em;
    font-weight: 700;
  }
}

.archive-button {
  float: right;
}
