.activities {
  margin-bottom: 5px;
  text-align: center;

  li {
    display: inline-block;
    padding-right: 5px;

    @include media($medium-screen) {
      display: table-cell;
      width: 1%;
      border-bottom: none;
      text-align: center;
      padding: 11px 5px;
      white-space: nowrap;
    }
  }
}

.color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.project {
  .hours {
    color: green;
  }

  .bar {
    position: relative;
    width: 100%;
    display:block;
  }

  hr {
    margin: .5em 0;
  }
}

.activity {
  color: #333333;
}


.graph {
  display: block;
  width: 100%;
  height: auto;
  line-height: 12px;
  white-space: nowrap;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

.activity-color {
  height: auto;
  line-height: 8px;
  vertical-align: top;
  display: inline-block;
  height: 8px;
  background: #ccc;
  text-indent: -9999px;
  white-space: nowrap;
}

.activities-overview {
  .spent {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px auto 0;
    font-size: 1em;
    font-weight: 100;
    color: #999;
    text-align: center;

    .spent-chart {
      position: absolute;
      top: 0;
      left: 0;
    }
    .spent-info {
      position: relative;
      top: 24px;

      .hours {
        display: block;
        font-size: 2em;
        color: #333 !important;
        letter-spacing: -2px;
      }
      .percent {
        display: block;
        margin-top: 2px;
        color: #999;
      }
    }
  }
}

