Skip to content
 This repository
Explore
Gist
Blog
Help
Marthyn Olthof Marthyn

36  Unwatch
  Unstar 518
 Fork 54DefactoSoftware/Hours
 branch: time-series  Hours/app/assets/stylesheets/_report.css.scss
Jurrejurre on Jul 31 improve user report layout
1 contributor
98 lines (80 sloc)  1.583 kb RawBlameHistory
.users-show {
  .container {
    width: 90%;
  }

  .title-container {
    @include clearfix;

    h1 {
      float: left;
    }

    ul.time-span {
      float: right;

      li {
        float: left;
        margin-left: 10px;
      }
    }
  }

  .hours-per-user-overview {
    @include clearfix;
    margin: 25px -25px 0;
    padding: 25px;
    border-top: 1px solid #ddd;
    background: #fafafa;

    p {
      font-size: .7em;
      font-weight: 700;
      color: #ccc;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    #hours-per-user {
      float: left;
      margin: 0 25px 0 0;
    }

    ul.legend {
      float: left;

      li {

        .color {
          display: inline-block;
          margin-right: 5px;
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }

        .project-name {
          display: inline-block;
          font-weight: bold;
        }

        &.total {
          font-weight: bold;
        }
      }
    }
  }

  .hours-per-day {
    margin: 0 -25px;
    padding: 25px;
    background: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    p {
      font-size: .7em;
      font-weight: 700;
      color: #ccc;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    #hours-per-day-chart {
      @include transition(opacity .3s ease);
      opacity: .6;

      // A bit hacky?
      width: 100% !important;
      height: 200px !important;
      max-width: 1800px !important;
    }

    &:hover #hours-per-day-chart {
      opacity: 1;
    }
  }
}
Status API Training Shop Blog About
© 2014 GitHub, Inc. Terms Privacy Security Contact
