.taggable {
  position: relative;
  input {
    background-color: transparent;
    z-index: 10;
  }
}

.background-highlighter {
  position: absolute;
  top: 0;
  color: transparent;
  font-size: 16px;
  z-index: 1;
  padding: 5px;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  margin-left: 4px;
}

.hashtag {
  background-color: lighten($blue, 35%);
  border-radius: 2px;
  z-index: 5;
  color: black;
}

.atwho-view {
  background-color: white;
  border: 1px solid $light-gray;
  width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 3px;


  li {
    border-bottom: 1px solid $light-gray;
    padding: 3px 7px;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $blue;
    }
  }
}
