.hint {
  color: #999;
  font-size: 12px;
}

.edit-user {
  #user_password, #user_current_password {
    margin-bottom: 0px;
  }
  .user_current_password {
    margin-bottom: 10px;
  }
}

#cancel-account {
  margin-top: 22px;
}
