@charset "utf-8";

///////////////////////////////////////////////////////////////////////////////

@import "bourbon";
@import "base/base";
@import "base/avatar";
@import "base/grid-settings";
@import "neat";
@import "navbar";
@import "progress-bars";
@import "activity-feed";
@import "projects";
@import "entries";
@import "users";
@import "tags";
@import "account";
@import "modal";
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import "pikaday";
@import "selectize";
@import "dc";
@import "select2";
@import "tagger";
@import "jquery.atwho";

///////////////////////////////////////////////////////////////////////////////

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  background: #f7f6f0;

  &.accounts-new {
    background: image-url("sky.jpg") center center;
    background-size: cover;
    padding-top: 0;
    font-size: $base-font-size * .9;

    @include media($medium-screen) {
      font-size: $base-font-size;
    }
  }
}

h1 {
  text-align: center;

  @include media($medium-screen) {
    text-align: inherit;
  }
}

.outer {
  @include outer-container;
}

.container {
  background: #fff;
  border-bottom-width: 2px;
  box-shadow: 0px 2px 2px rgba(83, 63, 63, 0.3);
  border-radius: $base-border-radius;
  min-height: 200px;
  position: relative;
  padding: 25px;
  margin-bottom: 15px;

  .accounts-new & {
    background: transparent;
    box-shadow: none;
    color: #fff;
    width: 100%;
    margin: 0 auto;

    @include media ($medium-screen) {
      width: 45%;
    }

    a {
      text-align: center;
    }
  }
}

.logo {
  text-align: center;
}

.button {
  @extend %button;
  &:hover {
    color: white;
  }
  &.create {
  }

  .accounts-new & {
    width: 100%;
  }
}

.image-circle {
  border-radius: 50%;
}

.active-people {
  .avatar {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 1em;
    display: inline-block;
  }

  img {
    width: 35px;
    height: 35px;
  }
}

.activities-overview, .categories-overview {
  span {
    .color {
      display: inline-block;
    }
  }
}

.dc-chart {
  strong {
    display: block;
  }

  g.row text {
    fill: #333;
  }
}

#flash_notice {
  @include flash($notice-color);
}

#flash_alert {
  @include flash($alert-color);
}

.hide-for-mobile {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}

.table-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  margin-bottom: 50px;
  font-weight: 100;
  color: #999;

  canvas {
    margin: 0 auto;
    position: absolute;
    z-index: 10;
  }

  h2 {
    text-align: center;
    color: black;
    margin-bottom:10px;
  }

  .spent-info {
    position: relative;
    top: 84px;
    text-align: center;

    .hours {
      display: block;
      font-size: 2em;
      color: #333 !important;
      letter-spacing: -2px;
    }
  }
}
