@charset "utf-8";

///////////////////////////////////////////////////////////////////////////////

@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "navbar";
@import "progress-bars";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "pikaday";
@import "entries";


///////////////////////////////////////////////////////////////////////////////

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
}



.container {
  background: rgba(247, 246, 240, 1);
  margin: 5% auto;
  border-bottom-width: 2px;
  width: 60%;
  min-height: 200px;
  position: relative;
  padding: 25px;
}

.button {
  @extend %button;
  &:hover {
    color: white;
  }
  &.create {
  }
}

.image-circle {
  border-radius: 50%;
}

.active-people {
  img {
    width: 35px;
    height: 35px;
  }
}

.form-inputs {
  @include outer-container;
  
  .input {
    @include span-columns(9);
    @include omega();
  }

  .button {
    @include span-columns(2);
    @include shift(1);
    @include omega();
  }
}
