@charset "utf-8";

///////////////////////////////////////////////////////////////////////////////

@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "bitters/grid-settings";
@import "navbar";
@import "progress-bars";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "pikaday";
@import "entries";
@import "activity-feed";
@import "selectize";
@import "projects";
@import "dc";
@import "modal";

///////////////////////////////////////////////////////////////////////////////

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  background: #f7f6f0;
}

.container {
  background: #fff; //rgba(247, 246, 240, 1);
  margin: 5% auto;
  border-bottom-width: 2px;
  box-shadow: 0px 2px 2px rgba(83, 63, 63, 0.3);
  border-radius: $base-border-radius;
  width: 60%;
  min-height: 200px;
  position: relative;
  padding: 25px;
  margin-bottom: 15px;
}

.button {
  @extend %button;
  &:hover {
    color: white;
  }
  &.create {
  }
}

.image-circle {
  border-radius: 50%;
}

.active-people {
  img {
    width: 35px;
    height: 35px;
  }
}

.categories {
  .form-inputs {
    @include outer-container;
    position: relative;

    .input {
      @include span-columns(9);
      @include omega();
    }

    .button {
      position: absolute;
      bottom: 0;
      margin-bottom: 14px;
      margin-left: 20px;
      @include omega();
    }
  }
}

.activities-overview, .categories-overview {
  span {
    .color {
      display: inline-block;
    }
  }
}

.dc-chart {
  strong {
    display: block;
  }

  g.row text {
    fill: #333;
  }
}
