@charset "utf-8";

///////////////////////////////////////////////////////////////////////////////

@import "bourbon";
@import "base/base";
@import "base/grid-settings";
@import "neat";
@import "navbar";
@import "progress-bars";
@import "activity-feed";
@import "projects";
@import "entries";
@import "users";
@import "modal";
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import "pikaday";
@import "selectize";
@import "dc";
@import "select2";

///////////////////////////////////////////////////////////////////////////////

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  background: #f7f6f0;

  &.accounts-new {
    background: image-url("sky.jpg") center center;
    background-size: cover;
    padding-top: 0;
    font-size: $base-font-size * .9;

    @include media($medium-screen) {
      font-size: $base-font-size;
    }
  }
}

h1 {
  text-align: center;

  @include media($medium-screen) {
    text-align: inherit;
  }
}

.outer {
  @include outer-container;
}

.container {
  background: #fff;
  border-bottom-width: 2px;
  box-shadow: 0px 2px 2px rgba(83, 63, 63, 0.3);
  border-radius: $base-border-radius;
  min-height: 200px;
  position: relative;
  padding: 25px;
  margin-bottom: 15px;

  .accounts-new & {
    background: transparent;
    box-shadow: none;
    color: #fff;
    width: 100%;
    margin: 0 auto;

    @include media ($medium-screen) {
      width: 45%;
    }

    a {
      text-align: center;
    }
  }
}

.logo {
  text-align: center;
}

.button {
  @extend %button;
  &:hover {
    color: white;
  }
  &.create {
  }

  .accounts-new & {
    width: 100%;
  }
}

.image-circle {
  border-radius: 50%;
}

.active-people {
  img {
    width: 35px;
    height: 35px;
  }
}

.activities-overview, .categories-overview {
  span {
    .color {
      display: inline-block;
    }
  }
}

.dc-chart {
  strong {
    display: block;
  }

  g.row text {
    fill: #333;
  }
}

#flash_notice {
  @include flash($notice-color);
}

.hide-for-mobile {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}

.table-tags {
  a {
    font-size: 0.9em;
  }
}

#flash_notice {
  @include flash($notice-color);
}
