@charset "utf-8";

///////////////////////////////////////////////////////////////////////////////

@import "bourbon";
@import "base/base";
@import "base/avatar";
@import "base/grid-settings";
@import "neat";
@import "navbar";
@import "progress-bars";
@import "activity-feed";
@import "projects";
@import "project";
@import "entries";
@import "users";
@import "tags";
@import "account";
@import "modal";
@import "audits";
@import "clients";
@import "logo";
@import "charts";
@import "time_span";
@import "header";
@import "billables";
@import "reports";
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import "pikaday";
@import "select2";
@import "tagger";
@import "jquery.atwho";
@import "components";
@import "tabs";
///////////////////////////////////////////////////////////////////////////////

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  background: #f7f6f0;

  &.accounts-new, &.accounts-create {
    background: image-url("sky.jpg") center center;
    background-size: cover;
    padding-top: 0;
    font-size: $base-font-size * .9;

    @include media($medium-screen) {
      font-size: $base-font-size;
    }
  }
}

h1 {
  margin-bottom: 1em;
  text-align: center;

  @include media($medium-screen) {
    text-align: inherit;
  }
}

.outer {
  @include outer-container;
}

.container {
  background: #fff;
  border-bottom-width: 2px;
  box-shadow: 0px 2px 2px rgba(83, 63, 63, 0.3);
  border-radius: $base-border-radius;
  min-height: 200px;
  position: relative;
  padding: 25px;
  margin-bottom: 15px;

  .accounts-new &, .accounts-create & {
    background: transparent;
    box-shadow: none;
    color: #fff;
    width: 100%;
    margin: 0 auto;

    @include media ($medium-screen) {
      width: 45%;
    }

    a {
      text-align: center;
    }
  }
}

.logo {
  text-align: center;
}

.button {
  @extend %button;
  &:hover {
    color: white;
  }
  &.create {
  }

  .accounts-new &, .accounts-create & {
    width: 100%;
  }
}

.button-grey {
  @extend %button;
  background-color: grey !important;
}

.image-circle {
  border-radius: 50%;
}

.active-people {
  .avatar {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 1em;
    display: inline-block;
  }

  img {
    width: 35px;
    height: 35px;
  }
}

.activities-overview, .categories-overview {
  span {
    .color {
      display: inline-block;
    }
  }
}

#flash_notice {
  @include flash($notice-color);
}

#flash_alert {
  @include flash($alert-color);
}

.hide-for-mobile {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}

.select2-container .select2-choice {
  background: none;
  background-image: none;
  height: 34px;
  margin-right: 1px;

  .select2-chosen {
    margin-top: 2px;
  }
}

.select2-container .select2-choice .select2-arrow {
  background: none;
  background-image: none;
  border-left: none;

  b {
    margin-top: 2px;
  }
}

.avatar.egg {
    display: inline-block;
    width: 30px;
    height: 35px;
    background-color: red;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;

}

.avatar-container {
  .avatar.egg {
    line-height: 40px;
    width: 25px;
    height: 35px;
  }
}
