- projects.each do |project|
  .container
    %h1= project.name
    = render "entries", entries: @billable_list.entries_for_project(project), project: project
    %button.submit-billable-entries= t("billables.buttons.bill_selected")
