- projects.each do |project|
  - hours = @billable_list.hours_entries.where(project: project)
  - mileages = @billable_list.mileages_entries.where(project: project)
  .container
    %h1= project.name
    - unless hours.empty?
      = render "hours_entries", entries: hours, project: project
    - unless mileages.empty?
      = render "mileages_entries", entries: mileages, project: project
    %button.submit-billable-entries= t("billables.buttons.bill_selected")
