- projects.each do |project|
  .container
    %h1= project.name
    = render "entries", entries: project.entries, project: project
    %button.submit-billable-entries= t("billables.buttons.bill_selected")
