<%= simple_form_for(@new_category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.button :submit %>
  </div>
<% end %>
