<div class="avatar" style="background-color: <%= user.color %>;">
  <%= user.acronyms %>
  <%= gravatar_image_tag(user.email, gravatar: { secure: true }, class: "image-circle", title: current_user.full_name) %>
</div>
