= link_to user_path(user) do
  .avatar{:style => "background-color: #{user.color};"}
    = user.acronyms
    = gravatar_image_tag(user.email, gravatar: { secure: true }, class: "image-circle", title: user.full_name)
