= link_to user_path(user) do
  .avatar{ class: ("egg" if easter) , :style => "background-color: #{user.color};"}
    = user.acronyms
    = gravatar_image_tag(user.email, gravatar: { secure: true }, class: "image-circle", title: html_escape(user.full_name))
