<% cache entry do %>
  <li>
    <div clas="entry">
      <div class="avatar-container">
        <div class="avatar">
          <%= user_image_link(entry.user) %>
        </div>
      </div>
      <div class="entry-text">
        <%= t(:entry_activity_html,
              user: "<a href='#{user_entries_path(entry.user)}'>#{entry.user.first_name}</a>".html_safe,
              count: entry.hours,
              category: "<span style='font-weight: bold; color:#{entry.category.name.pastel_color} '>#{entry.category.name}</span>".html_safe,
              project: "<a href='#{project_path(entry.project)}'>#{entry.project.name}</a>".html_safe ) %>
            <span class="timestamp" data-timestamp="<%= entry.date %>"><%= l entry.date %></span>
      </div>
    </div>
  </li>
<% end %>
