- localized_cache [entry, current_locale] do
  %li
    %div{:clas => "entry"}
      .avatar-container
        = render "application/avatar", user: entry.user, easter: easter?
      .entry-text
        = t(:entry_activity_html, user: link_to(entry.user.first_name, user_path(entry.user)), count: entry.value, |
          category: colored_span(entry.category.name.pastel_color, entry.category.name), |
          project: link_to(entry.project.name, entry.project))
        %span.timestamp{"data-timestamp" => entry.date}= l entry.date
