<div id="navbar">
  <div class="nav">
    <ul>
        <%= nav_path t("titles.projects.index"), root_path %>
        <%= nav_path t("titles.categories.index"), categories_path %>
        <%= nav_path t("titles.entries.index"), user_entries_path(current_user) %>
        <%= nav_path t("sign_out"), destroy_user_session_path, method: :delete %>
    </ul>
  </div>
</div>
