<div id="navbar">
  <div class="nav">
    <ul>
      <li>
        <%= link_to t("titles.projects.index"), root_path %>
      </li>
      <li>
        <%= link_to t("titles.categories.index"), categories_path %>
      </li>
      <li>
        <%= link_to t("sign out"), destroy_user_session_path %>
      </li>
    </ul>
  </div>
</div>
