<h1><%= title %></h1>

<div id="chart-line-hoursperday">
  <strong>Timeline</strong>
</div>

<div id="project-rowchart">
  <strong>Projects</strong>
</div>

<div id="category-rowchart">
  <strong>
    Categories
  </strong>
</div>

<table id="data-table">
  <!-- create a custom header -->
  <thead>
    <tr class="header">
      <th>Date</th>
      <th>Project</th>
      <th>Category</th>
      <th>Hours</th>
      <th>User</th>
      <th>Tags</th>
    </tr>
  </thead>
  <!-- data rows will filled in here -->
</table>
