<div class="outer" >
  <div class="container" >
    <h1><%= title %></h1>

    <div class="danger-zone">
      <h2><%= t("account.danger_zone") %></h2>
      <p><%= t("account.warning", subdomain: @current_domain) %></p>

      <%= button_to(
        t("account.delete"),
        { controller: :accounts, action: :destroy },
        method: :delete,
        data: { confirm: t("account.confirm_destroy") }
      ) %>

    </div>
  </div>
</div>
